<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gmail.placement_cell">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true">
        <activity
            android:name=".FrontPage"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:label="Home Page"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".History_HomePage"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".facultyHomePage"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".adminHomePage"
            android:theme="@style/Theme.AppCompat.Light" />

        <provider
            android:name=".database.timetableProvider"
            android:authorities="com.gmail.placement_cell"
            android:exported="false" />
        <provider
            android:name=".student_database.studentProvider"
            android:authorities="com.gmail.placement_cell.student"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".showTimeTable"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".showStudentDetails"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>